.notas{
    position: absolute;
    height: 235px;
    width: auto;
    top: 200px;
    left: 6vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.289);
}
.saqueNotas, .saqueMoedas{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.moedas{
    position: absolute;
}

